<%= form_for(@camp) do |f| %>
  <% if @camp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camp.errors.count, "error") %> prohibited this camp from being saved:</h2>

      <ul>
      <% @camp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="select">
    <%= f.select(:country_id, options_from_collection_for_select(Country.all, :id, :name)) %>
    <%= f.select(:region_id, options_from_collection_for_select(Region.all, :id, :name)) %>
    <%= f.select(:city_id, options_from_collection_for_select(City.all, :id, :name)) %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
