<h1>Listing camps</h1>

<table>
  <thead>
    <tr>
      <th>Camp</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <div class="select">
    <%= select_tag(:country_id, options_from_collection_for_select(Country.all, :id, :name)) %>
    <%= select_tag(:region_id, options_from_collection_for_select(Region.all, :id, :name)) %>
    <%= select_tag(:city_id, options_from_collection_for_select(City.all, :id, :name)) %>    
  </div>
  
    <% @camps.each do |camp| %>
      <div class="camps">
        <%= camp.name %><br>
        <%= camp.description%><br>
      </div>
    <% end %>
  
</table>


<br>

<%= link_to 'New Camp', new_camp_path %>
