<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Турбаза" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Описание" %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label "Страна" %><br>
    <%= f.collection_select :country_id, Country.all, :id, :name,
        {include_blank: true},
        { data: {
            dynamic_selectable_url: dynamic_select_regions_path(':country_id'),
            dynamic_selectable_target: '#event_region_id'
          }
        } %>
  </div>
  <div class="field">
    <%= f.label "Регион" %><br>
    <%= f.collection_select :region_id, @event.country.try(:regions) || [], :id, :name, {include_blank: true},
        { data: {
            dynamic_selectable_url: dynamic_select_cities_path(':region_id'),
            dynamic_selectable_target: '#event_city_id'
          }
        } %>
  </div>
  <div class="field">
    <%= f.label "Город" %><br>
    <%= f.collection_select :city_id, @event.region.try(:cities) || [], :id, :name, :include_blank => true  %>
  </div>
  <div class="actions">
    <%= f.submit "Создать турбазу"%>
  </div>
<% end %>

<% @events.each do |event| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title"><%= event.name %></h2><br>
    <h4 class="panel-title">Страна:&nbsp;<%= event.country.name %></h4><br>
    <h4 class="panel-title">Регион:&nbsp;<%= event.region.name %></h4><br>
    <h4 class="panel-title">Город:&nbsp;<%= event.city.name %></h4>
  </div>
  <div class="panel-body">
    <%= event.description %>
  </div>
</div>

        <p><%= link_to 'Show', event %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
<% end %>
