<h1>New city</h1>

<%= render 'form' %>

<%= link_to 'New City', new_city_path %>
<br>
<% @cities.each do |city| %>
      <div>
        <%= city.name %><br>
        <%= link_to 'Show', city %>
        <%= link_to 'Edit', edit_city_path(city) %>
        <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
<br>
<%= link_to 'Back', cities_path %>
